# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules

# Local env files
.env
.dev.vars
.dev.vars.e2e
.env.development
.env.test
.env.production
.env.staging
.env.e2e
*.local

# Testing
coverage
playwright-report
test-results

# Wrangler
worker-configuration.d.ts
.wrangler

# Turbo
.turbo

# Storybook
storybook-static

# React Router
.react-router

# logs
logs
*.log
pnpm-debug.log*

# Build Outputs
out
dist-ssr
build
dist
bin

# Rust
target/

# Misc
.DS_Store
*.pem
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
